h1 {
	margin: 0;
	line-height: 1;
	padding-left: 10;
	color: #0000FF;
}
h2, h3, h4, h5 {
	margin: 0;
	line-height: 1;
	padding-bottom: 2;
}
#tab {
	padding-left:1em;
}
td {
    padding-right: 3;
    padding-left: 3;
}
th {
    padding-right: 3;
    padding-left: 3;
    text-align: center;
}
#Results-Table {
	margin-top: 10;
	margin-bottom: 10;
}
input[type="number"] {
   width:40px;
}

/****************\
|* Results Page *|
\****************/
#container {
	width: 100%;
}
.Criteria, .ReturnData {
	/*display: inline-block;*/
	float: left;
}
.SubmitButton {
	width: 100%;
	float: left;
	padding-bottom: 10;
}

/****************\
|*  Navigation  *|
\****************/
.TopMenu {
	background: #0000FF;
	padding: 0 20px;
	border-radius: 10px;
	list-style: none;
	position: relative;
	display: inline-table;
	width: calc(100% - 40px);
	z-index: 10;
}
.TopMenu a {
	text-decoration: none;
}
.TopMenuItem {
	color: #FFFFFF;
	float: left;
	padding: 7px;
	font-size: 17px;
}
.SubMenuItem:hover, .TopMenuItem:hover {
	background: #000000;
}
.SubMenu {
	padding: 0;
	width: auto;
	z-index: 11;
	display: none;
	position: absolute;
	top: 33px;
	background: #0000FF;
	border-radius: 0;
	list-style: none;
}
.TopMenuItem:hover .SubMenu {
	display: block;
}
.SubMenuItem {
	color: #FFFFFF;
	padding: 5px;
	background: #0000FF;
	font-size: 17px;
}
.UserItem {
	float: right;
	color: #FFFFFF;
	padding: 7px;
	font-size: 17px;
	font-weight: bold;
}
.UserItem:hover {
	background: #000000;
}
#LogInOut {
	display: none;
	position: absolute;
	right: 0px;
	top: 33px;
	list-style: none;
	float: right;
}
.LogInOutForm {
	color: #FFFFFF;
	background: #0000FF;
}

/*************\
|*  Columns  *|
\*************/
.main {
	width: 100%;
}
.left {
	float: left;
	width: 33%;
}
.center {
	float: left;
	width: 33%;
}
.right {
	float: left;
	width: 33%;
}

/***********\
|*  Other  *|
\***********/
.Alert {
	color: red;
	display: none;
	padding-left: 10;
}
